[user]
	name = Roman Gladkov
	email = d1fffuz0r@gmail.com
[color]
	ui = 1
[core]
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[alias]
	ci = commit
	st = status
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
